@use 'base' as *;

form{
    margin-bottom: 5rem;
    @include flex-column(center);

    label, input{
        @include margin-padding(0.5rem);
        width: 300px;
    }
    input{
        border-radius: 10px;
        border: none;
        padding: 1rem;
    }
    .formButtons{
        margin-top: 2rem;
    }
    .loginButton{
        color: $white;
        background-color: $green;
        &:hover{
            background-color: $darkgreen;
        }

    }
    .changePasswordButton{
        background-color: $grey;
        &:hover{
            background-color: $darkgrey;
        }
    }

}