/* Colours */
$cyan: #4BC1BD;
$darkgrey: #636363;
$grey: #636363;
$white: #F4EDEA;

/* Fontsize */
$font-lg: 24;
$font-md: 18;
$font-sm: 16;

@mixin margin-padding($navpad...){
        margin: 5px;
        padding: $navpad;
}


@mixin transition($transition...){
    transition: $transition;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

nav{
    background-color: $darkgrey;
    border-bottom: $cyan 0.5rem solid;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        @include margin-padding(10px 30px);
        color: $white;
        font-size: $font-lg;
    }

    ul{
        list-style-type: none;
        display: flex;
        justify-content: center

    }
    li{
        @include margin-padding(10px 30px);
        a{
            text-decoration: none;
            color: $white;
        }
    }
}




